@charset "UTF-8";
@import "../common/config/level-1";
@import "../common/common";
@import "../common/mod-policy";
@import "../common/mod-activity";
@import "../common/mod-study";
@import "../common/mod-orgnize";
@import "../common/slider/slider";
@import "../common/pager/pager";
body{
	background:#f6f6f6;
	.mt-40{
		margin-top:40px;
	}
	.ml-20{
		margin-left:20px;
	}
}
.mod-container{
	width:790px;
	margin-top:40px;
	
	.mod-sub-info{
		margin-top:40px;
		.mod-area{
			position:relative;
			width:220px;
			&:hover{
				.area-detail{
					display:block;
				}
			}
			.area-detail{
				position:absolute;
				display:none;
				width:220px;
				background:#fff;
				box-sizing:border-box;
				padding:10px 15px;
				z-index:10;
				webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   		 		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
   		 		border-radius:2px;
   		 		&:before{
   		 			content:"";
   		 			float:left;
   		 			width:0;
   		 			height:0;
   		 			border-style:solid;
   		 			border-width:10px 7px;
   		 			border-color:transparent transparent #fff transparent;
   		 			margin-top: -30px;
    				margin-left: 49px;
   		 		}
				a{
					margin-right:15px;
					color:#666;
					font-size:14px;
					display:inline-block;
					&:hover{
						color:#fe5654;
						text-decoration:underline;
					}
				}
			}
			.area-selected{
				width:118px;
				height:52px;
				line-height:52px;
				text-align:center;
				background:#fe5654;
				color:#fff;
				.icon-location{
					font-size:18px;
					vertical-align: middle;
				    margin-top: -2px;
    				display: inline-block;
				}
				a{
					color:inherit;
					font-weight:500;
					text-decoration:underline;
					font-size:14px;
				}
				i{
					color:#fff;
					font-size:12px;
				}
			}
		}
		li{
			width:90px;
			height:50px;
			float:left;
			margin-right:2px;
			background:#fff;
			text-align:center;
			line-height:50px;
			font-size:14px;
			color:#576671;
			a{
				color:inherit;
			}
			&.active{
				background:#fe5654;
				color:#fff;
			}
		}
		.search{
			position:relative;
			width:300px;
			height:40px;
			border-radius:50px;
			background:#fff;
			margin-top:6px;
			.txt{
				width: 100%;
			    line-height: 40px;
			    background: transparent;
			    border: none;
			    padding: 0 20px;
    			box-sizing: border-box;
			    &::-webkit-input-placeholder{
			    	padding-left:50px;
			    	font-size:14px;
			    	color:#999;
			    }
			}
			button{
			    position: absolute;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    font-size: 18px;
			   	right: 20px;
			    top: 50%;
			    margin-top: -16px;
			    text-align: center;
			    background-color: transparent;
			    border: 0;
			    color: #ff5454;
			}
		}
	}

	.info-list{
		margin-top:2px;
		padding:10px 30px;
		background:#fff;
		li{
			padding:17px 0;
			border-top:1px solid #f6f6f6;
			&:first-child{
				border:none;
			}
		}
		.info-title{
		display:inline-block;
			font-size:18px;
			padding-bottom:2px;
			color:#333;
			margin-bottom:15px;
			&:hover{
				color:#fe5654;
				text-decoration:underline;
			}
		}

		.img-wrap{
			display:inline-block;
			width:200px;
			height:120px;
			text-align:center;
			line-height:120px;
			background:#ccc;
			overflow:hidden;
			img{
				height:100%;
			}
		}
		.mod-info-detail{
			width:510px;
			p{
				font-size:14px;
				color:#666;
				line-height:24px;
				height:100px;
				overflow:hidden;
				text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-line-clamp: 4;
			    -webkit-box-orient: vertical;
			    margin-top: -5px;
			    margin-bottom:5px;
			}
			span{
				font-size:12px;
				color:#999;
				margin-right:25px;
				i{
					color:#fe5654;
					padding-right:5px;
				}
			}
		}
	}

}

/*右侧样式*/
.mod-right {
	width:380px;
	margin-top:40px;
	.mod-common-title{
		font-size:24px;
		color:#576671;
		font-weight:normal;
		margin-bottom:20px;
	}
}