@charset "UTF-8";
@import "../common/config/level-1";
@import "../common/common";
body{
    width:450px;
    min-width: 500px;
}
html, body {
    background-color: #e4ebf0;
}
#city-error{left:200px;}//城市选择错误提示
#county-error{left:300px;}//城市选择错误提示
.mod-form {
    width: 450px;
    border: 1px solid #fff;
    background-color: #fff;
    .ulform {
        padding: 50px 0;
        width: 400px;
        .item {
            position: relative;
            height: 65px;
            .ui-input {
                display: inline-block;
                width: 288px;
                padding: 0 5px;
                height:35px;
                box-sizing:border-box;
                border-radius: 4px;
                &[readonly="readonly"]{
                    color: #c1c6c9;
                    &:focus{
                        border-color:#e4ebf0;
                    }
                }
            }
            .mark {
                display:inline-block;
                width:85px;
                text-align:right;
                margin-right:15px;
                line-height: 38px;
            }
            label.error{
                position: absolute;
                bottom: -8px;
                left: 120px;
                line-height: 40px;
                color: #eb3d48;
            }
            .necessary {
                margin-right: 5px;
                color: red;
            }
            .ui-btn {
                position: absolute;
                left: 50%;
                margin-left: -64px;
                width: 128px;
                height: 40px;
                line-height: 40px;
                letter-spacing: 2px;
                font-size: 14px;/*px*/
                margin-top:20px;
            }
            .submit{
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}
