@charset "UTF-8";
@import "../common/config/level-1";
@import "../common/common";
@import "../common/mod-activity";
@import "../common/mod-study";
@import "../common/mod-link";
@import "../common/mod-orgnize";
@import "../common/mod-policy";
@import "../common/slider/slider";
.mb-20{margin-bottom:20px;}
.mb-40{margin-bottom:40px;}
.mt-50{margin-top:50px;}
.mod-slider{
	position:relative;
	overflow:hidden;
	.jImgBlur{
		position:absolute;
		left:-15px;
		right:-15px;
		top:-15px;
		bottom:-15px;
		filter: blur(13px);
	  -webkit-filter: blur(13px);
	  -ms-filter: blur(13px);
	  -moz-filter: blur(13px);
	}
	.hot-news{
		position:absolute;
		z-index:10;
		right:0;
		top:0;
		width:390px;
		height:500px;
		background:#333;
		box-sizing:border-box;
		padding:60px 40px;
		h1{
			font-size:24px;
			color:#fff;
			margin-top:0;
		}
		ul{
			height:400px;
			margin-top:20px;
			overflow:hidden;
		}
		li{
		&:hover,&.active{
			a{
				font-size:19px;
				margin-bottom:15px;
				margin-top:7px;
				color:#fe5654;
				text-decoration:underline;
			}
			
		}
			a{
				width:100%;
				color:#fff;
				font-size:14px;
				margin-bottom:5px;
				display:inline-block;
				@extend .txt-overflow;
			}
		}
	}
	.slider-click{
		p{
			@extend .txt-overflow;
			position:absolute;
			z-index:10;
			width:810px;
			height:60px;
			line-height:60px;
			background:rgba(0,0,0,.4);
			color:#fff;
			padding-left:20px;
			font-size:16px;
			bottom:0;
		}
	}
}
body{
	.policy-web{
		.policy-left{
			background:#ccc;
			width:282px;
			height:165px;
			margin-right:1px;
			box-sizing:border-box;
			padding:60px 40px 50px;
			span{
				text-align:center;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				font-size:20px;
			}
		}
		.policy-right{
			@extend .policy-left;
		}
		.policy-middle{
			width:625px;
			.pos-static{
				float:left;
				width:130px;
				height:78px;
				margin-left:8px;
				margin-bottom:9px;
				background:#eee;
				box-sizing:border-box;
				padding:25px;
				span{
					text-align:center;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					font-size:14px;
				}
				&.policy-long{
					width:203px;
				}
			}
		}
	}
	.mod-more{
		font-size:14px;
		color:#b9b9b9;
		text-align:center;
		line-height:24px;
		border-bottom:1px solid #ededed;
		margin-bottom: 30px;
		cursor:pointer;
		&:hover{
			color:#fe5654;
		}
	}
	background:#fff;
		.mod-level-header{
			cursor:pointer;
			font-size:24px;
			color:#2c363d;
			margin-bottom:20px;
			font-weight:normal;
			padding-bottom:18px;
		    border-bottom: 1px solid #ededed;
			&:hover{
				i{
					background:#ee9795;
					color:#fff;
				}
				span{
					color:#fc4947;
				}
			}
			i{
				display:inline-block;
			  	font-size:13px;
			  	color:#87949e;
				width:30px;
				text-align:center;
				height:30px;
				line-height:30px;
				border-radius:50%;
				background:rgba(135,148,158,.15);
				margin-right:10px;
				vertical-align:middle;
				&.icon-dongtaizixun{
					line-height:33px;
				}
				&.icon-shuju,&.icon-xuexi,&.icon-huodong1{
					font-size:16px;
				}
				&.icon-wenzhuanjia{
					font-size:23px;
					line-height:36px;
				}
			}
			span{
				vertical-align:middle;
			}
		}
	.mod-container{
		.mod-view-wrap{
			margin-top:50px;
		}
		width:790px;
		

		.mod-views{
			li{
				margin-top:15px;
				padding-bottom:15px;
				border-bottom:1px solid #ededed;
				.mod-view-img{
					display:inline-block;
					width:324px;
					height:200px;
					text-align:center;
					line-height:200px;
					overflow:hidden;
					img{
						width:100%;
						height:100%;
					}
				}

				.mod-view-intr{
					width:435px;
					box-sizing:border-box;
					padding-right:40px;
					margin-top:15px;
					h3{
						width:332px;
						font-size:19px;
						color:#333;
						overflow:hidden;
						text-overflow: ellipsis;
    					white-space: nowrap;
    					&:hover{
    						color: #fe5654;
    						text-decoration: underline;
    					}
					}
					p{
						font-size:16px;
						line-height:22px;
						color:#67647d;
						margin-top:22px;
						height:90px;
						margin-bottom:15px;
						overflow:hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 4;
					}
					.icon-detail{
						display:inline-block;
						width:30px;
						height:15px;
						vertical-align: middle;
						background:url(../../images/iconList.png)no-repeat 0 0 /13px auto;
					}
					.time-icon{
						font-size:14px;
						color:#333;
						i{
							color:#909090;
							font-weight:bold;
							font-size:15px;
							margin-right:15px;
						}
					}
				}
			}
		}



		.mod-info{
			background:#fff;
			padding:35px 10px 35px 20px;
			border-bottom:1px solid #f6f6f6;
			.mod-title{
				b{
					color:#576671;
					font-size:24px;
					font-weight:normal;
				}
				span{
					color:#999;
					font-size:14px;
					margin-left:20px;
				}
			}

			.mod-info-show{
				width:375px;
				margin-top:15px;
				li{
				&:first-child{
					.word-show{
						display:none;
					}
					.mod-hover-show{
						display:block;
					}
				}
					font-size:14px;
					color:#5f5f5f;
					.word-show{
						cursor:pointer;
						span{
						display:inline-block;
						margin-top:-5px;
						width:100%;
    						@extend .txt-overflow;
						}
						padding-left:20px;
						height:35px;
						line-height:1;
						border-left:1px solid #dee1e5;
						&:before{
						content:"";
						width:8px;
						height:8px;
						border-radius:50%;
						background:#fe5654;
						float:left;
    					margin-left: -24px;
						}
					}
					.mod-hover-show{
						display:none;
					}
					.mod-info-img{
						width:140px;
						height:82px;
						display:inline-block;
						overflow:hidden;
						text-align:center;
						line-height:82px;
						img{
							height:100%;
						}
					}
					.mod-detail-info {
						width:225px;
						a{
							font-size:14px;
							color:#333;
							&:hover{
								color:#fe5654;
								text-decoration:underline;
							}
						}
						p{
							font-size:12px;
							color:#999;
							line-height:18px;
							margin-top:8px;
							overflow : hidden;
							height:35px;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
					}
					.mod-hover-show{
						margin-bottom:20px;
					}
					&:last-child{
						.word-show{
							border-left:none !important;
						}
					}
				}
			}
		}

		/*智囊团*/
		.mod-teachers{
			width:790px;
			overflow:hidden;
			position:relative;
			.items{
				position:relative;
				margin:0 25px;
			    height: 353px;
			    overflow: hidden;
			    z-index: 1;
			    items-width{
			    	position: relative;
				    width: 100%;
				    height: 100%;
				    z-index: 1;
			    }
				.item{
					position:relative;
					padding-left: 13px;
					box-sizing:border-box;
					.mod-label{
						position:absolute;
						top:8px;
						left:5px;
						width:60px;
						height:34px;
						background:#fe5654;
						color:#fff;
						text-align:center;
						line-height:34px;
						border-radius:0 50px 50px 0;
						i{
							position:absolute;
							width:8px;
							height:8px;
							overflow:hidden;
							bottom: -8px;
    						left: 0px;
							&:before{
							content:"";
							float:left;
							width:0;
							height:0;
							border-style:solid;
							border-width:8px;
							border-color:#9a0d0d transparent transparent transparent;
						}
						}
						
					}
					.img{
						height:144px;
						width:233px;
						img{
							width:100%;
							height:100%;
						}

					}

					.mod-teacher-intr{
						background:#fff;
						padding:20px;
						.name{
							color:#043d57;
							font-size:14px;
							line-height:20px;
							font-weight:normal;
							margin-bottom:15px;
						}
						.job-title{
							font-size:12px;
							line-height:20px;
							color:#666;
							span{
								display:block;
							}
						}

					}
					.mod-sm-img{
							height:45px;
							line-height:45px;
							padding-left:25px;
							background:#fff;
							border-top:1px solid #f8f8f8;
							img{
								width:25px;
								height:25px;
								border-radius:50%;
								vertical-align:middle;
							}
							span{
								font-size:12px;
								color:#666;
								margin-left:15px;
							}
						}
				}
			}

			.arrow-left,.arrow-right{
				position:absolute;
				right:2px;
				width:50px;
				height:50px;
				border-radius:50%;
				background:#fff;
				text-align: center;
    			line-height: 50px;
    			color:#333;
    			top: 220px;
    			z-index: 10;
    			box-shadow: 0 0 5px rgba(0,0,0,.1);
    			&:hover{
    				color:#ff5454;
    			}
			}

			.arrow-left{
				left:7px;
			}
		}
	}

	.mod-right-bar{
			width:380px;
			.mod-study-tab{
				margin-left:20px;
				margin-top:-10px;
				border-bottom:1px solid #ededed;
				li{
					position:relative;
					float:left;
					text-align:center;
					margin-right:10px;
					padding-bottom:10px;
					cursor:pointer;
					&.active{
						border-bottom:2px solid #fc4947;
						i{
							color:#fc4947
						}
						span{
							background:#fc4947;
						}
						&:after{
							display:block;
						}
					}
					&:after{
						content:"";
						position:absolute;
						left:50%;
						margin-left:-6px;
						bottom:-13px;
						width:0;
						height:0;
						border-width:6px 4px;
						border-style:solid;
						border-color:#fc4947 transparent transparent transparent;
						display:none;
					}
					i{
						display:block;
						font-size:36px;
						color:#b9b9b9;
						height:54px;
						&.icon-lives{
							font-size:34px;
						}
						&.icon-dianbo{
							font-size:37px;
						}
						&.icon-guwen{
							height:60px;
							font-size:43px;
							margin-top:-6px;
						}
						&.icon-zhuanjia{
							font-size:32px;
							padding-top:3px;
							height:51px;
						}
						&.icon-gwManage{
							height:52px;
							padding-top:2px;
						}
					}
					span{
						text-align:center;
						line-height:20px;
						background:#9ea6a8;
						color:#fff;
						font-size:14px;
						padding:1px 10px;
					}
				}
			}
			.mod-activity{
				.acti-list{
					margin-top:45px;
					li{
						border-left:1px solid #dee1e5;
						line-height:1;
						height:31px;
						padding-left:20px;
						&:last-child{border:none;}
						&:before{
							content:"";
							float:left;
							width:8px;
							height:8px;
							border-radius:50%;
							background:#fe5654;
							margin-left:-24px;
						}
						a{
							display:inline-block;
							width:100%;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    margin-top:-5px;
						    font-size:16px;
						}
					}
				}
			}
			
		}

	.role-content {
		width:100%;
		background-color: #fff;
		.mod-activitys{
			width:790px;
			.school{
				a{
					position: relative;
				    width: 190px;
				    height: 108px;
				    vertical-align: middle;
				    img {
					    width: 100%;
					    height: 100%;
					    vertical-align: middle;
					    border: none;
					}
				}
				p{
					position: absolute;
				    width: 100%;
				    bottom: 0;
				    left: 0;
				    color: #fff;
				    height: 22px;
				    line-height: 22px;
				    text-indent: 0.5em;
				    background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.6) 65%,rgba(0,0,0,0.9));
				}
			}
			.role-left {
			    width:395px;
			    height: 369px;
			    .trendnew {
			    	display:inline-block;
				    width: 395px;
				    height: 230px;
				    margin-bottom: 15px;
				}
			}
			.role-middle {
			    width: 395px;
			    a {
				    position: relative;
				    width: 190px;
				    height: 108px;
				    margin-left: 7px;
				    margin-bottom: 14px;
				}
				img {
				    width: 100%;
				    height: 100%;
				    vertical-align: middle;
				    border: none;
				}
				 p {
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    text-indent: 0.5em;
				    width: 100%;
				    color: #fff;
				    background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.6) 65%,rgba(0,0,0,0.9));
				}
			}
		}
		.mod-calendar{
			width:395px;
		}
	}
}
.Ad-position{
	width:790px;
	overflow:hidden;
	text-align:center;
	line-height:100px;
	img{
		height:100%;
		width: 100%;
	}
}
.Ad-position-sm{
	width:390px;
	text-align:center;
	line-height:100px;
	img{
		height:100%;
		width: 100%;
	}
}
.mod-expert{
	width:360px;
	margin-left:20px;
	margin-top:25px;
	display:none;
	&.active{
		display:block;
	}
	.expert-wrap{
		display:none;
		&.active{
			display:block;
		}
	}
	h3{
		font-size:22px;
		color:#000;
		margin:15px 0;
	}
	h4{
		font-size:16px;
		color:#67647d;
	}
	.mt-10{
		margin-top:10px;
	}
	.expert-intr{
		margin-left:15px;
		margin-bottom:40px;
	}
	p{
		font-size:17px;
		color:#67647d;
	}
	.expert-list{
		border-top:1px solid #ededed;
		padding-top:30px;
		li{
			float:left;
			width:80px;
			height:80px;
			border-radius:50%;
			overflow: hidden;
		    text-align: center;
		    line-height: 80px;
		    margin-left:10px;
		    border:1px solid transparent;
		    box-sizing:border-box;
		    &.active{
		    	border-color:#fc4947;
		    }
		    img{
		    	width:100%;
		    	height:100%;
		    }
		}
	}
	.expert-img{
		position:relative;
		width:100%;
		height:220px;
		text-align:center;
		display:inline-block;
		overflow: hidden;
		background:rgba(0,0,0,.5);
		img{
			height:100%;
			width:100%;
		}
		span{
			position:absolute;
			left:-5px;
			top:10px;
			width:92px;
			height:53px;
			border-radius:0 20px 20px 0;
			background:#fe5654;
			text-align:center;
			line-height:53px;
			font-size:18px;
			color:#fff;
		}
		b{
			content:'';
			position:absolute;
			width:0;
			height:0;
			border-width:10px;
			border-style:solid;
			border-color:transparent #9a0d0d transparent transparent;
			top: 53px;
		    left: -15px;
		    z-index: -1;
		}
	}
}
.mod-service{
	margin-top:20px;
	margin-left:7px;
	li{
		margin-bottom:15px;
	}
	.service-img{
		width:164px;
		height:124px;
		text-align:center;
		line-height:130px;
		overflow:hidden;
		img{
			height:100%;
		}
	}
	h1{
		font-size:16px;
		height:35px;
		color:#171717;
		padding-bottom:10px;
		margin-bottom:7px;
		border-bottom:1px solid #ededed;
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	.service-intr{
		width:160px;
		padding-right:10px;
		p{
			font-size:12px;
			line-height:16px;
			color:#5f5f5f;
			height:50px;
			overflow : hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
		div{
			font-size:12px;
			color:#171717;
			width:100%;
			overflow:hidden;
			text-overflow: ellipsis;
    		white-space: nowrap;
    		margin-ttop:5px;
    		padding-bottom:3px;
    		border-bottom:1px solid #ededed;
		}
		.icon{
			display:inline-block;
			width:20px;
			height:16px;
			vertical-align:middle;
			background:url(../../images/iconList.png)no-repeat;
			&.icon-service-1{
				background-position:0 -71px;
			}
			&.icon-service-2{
				background-position:0 -129px;
			}
		}
	}
}
.textover {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.expert-containenr{
	margin-bottom:30px;
}
.calendar{box-sizing: border-box;font-family: "微软雅黑";font-size: 14px;}
.calendar-sm {cursor: default;width: 800px;height: 370px;}
.calendar {cursor: default;width: 300px;height: 335px;}
.c-grid {height: inherit;}
.c-day {width: 42px;height: 42px;line-height: 42px;background-color: #fff;float: left;text-align: center; }
.c-day-previous-month {width: 42px;height: 42px;line-height:42px;background-color: #fff;float: left;text-align: center;color: #fff;}
.c-day-next-month {width: 42px;height: 42px;line-height:42px;background-color: #fff;float: left;text-align: center;color: #fff;}
.c-week-day {width: 14%;height: 8%;float: left;text-align: center;font-weight: normal;color: #171717;background-color: #fff;margin-top: 10px !important;}
.c-next {width: 12.5%;height: 12%;padding: 2% 2% 0 2%;text-align: left;cursor: pointer;margin-right: 30px;}
.c-previous {width:12.5%;height: 12%;padding: 2% 2% 0 2%;text-align: right;cursor: pointer;margin-left: 15px; }
.c-month {width: 52%;height: 12%;text-align: center;}
.c-today {background:#fc4947;color: #fff;border-radius:50%;}
.c-event {font-weight: normal;cursor: pointer; }
.c-event:after{content: '';display: block;position: relative;width: 9px;height: 9px;border-radius:50%;background:#dee1e5;left: 18px;top: -10px; }
.c-grid { width: 100%; overflow: hidden; font-family:"微软雅黑";}
.c-event-grid { width: 0;}
.c-grid-title {float: left;background-color: #fff;color: #fc4947;padding-top: 3%;font-size: 24px;font-family: "微软雅黑";  }
.c-event-title {width: 100%;height: 12%;text-align: center;font-weight: bold;background-color: rgb(135, 155, 188);color: white;  }
.c-event-body { background-color: #EFF4F9; height: 88.1%; }
.c-event-list {padding: 7 0 0 0;overflow: auto;height: 95%; }
.c-event-item > .title {font-weight: bold; }
.c-event-item > div {text-overflow: ellipsis;width: inherit;overflow: hidden;white-space: nowrap; }
.c-event-item { padding-left: 10px; margin-bottom: 10px; }
