@charset "UTF-8";
@import "../common/config/level-1";
@import "../common/common";
@import "../common/tips-text/tips-text";
.mod-form{
	width:360px;
	background:#fff;
	box-sizing:border-box;
	padding:40px;
	.item{
		position:relative;
	  &.error-red{
		i{
		  color:#fe5654;
		}
	  }
		.jDynamic{
			width:170px;
		}
		.jsVerifyCode{
			width:100px;
			border:none;
			margin-left:5px;
			margin-top:0;
		}
		i{
			position:absolute;
			width:20px;
			height:20px;
			top: 12px;
    		left: 15px;
			font-size:16px;
			color:#95aab8;
		}
		.submit{
			margin:8px 0;
		}

	}
	
}